:root{
  --akzentfarbe: #FF6B35;
  --notizfarbe: #136F63;
  --hintergrundfarbe: #EFEFD0;
  background-color: var(--hintergrundfarbe);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#container{
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: var(--hintergrundfarbe);
}

#addNote{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

#displayNotes{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  #container{
    grid-template-columns: 350px;
  }
}

#addNoteCard{
  padding: 10px;
  background-color: var(--akzentfarbe);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#addNote input[type="text"]{
  display: 'inline-block';
  width: 80%;
  margin: 10px;
  width: 100%;
  padding-left: 10px;
  display: inline-block;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  font-size: 20px;
  overflow: scroll;
  padding-right: 20px;
}


#addNote textarea{
  display: 'inline-block';
  margin: 10px;
  height: 150px;
  width: 100%;
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  font-size: 15px;
  overflow: hidden;
  resize: none;
  padding-right: 20px;
}

#noteInput{
  background-color: white;
  color: var(--akzentfarbe);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 5px;
}

.noteItem{
  color: white;
  background-color: #136F63;
  width: 130px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.delButton{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-size: 15px;
  float: right;
}

.noteCompleted{
  background-color: grey;
  text-decoration: line-through;
}

textarea::placeholder, input::placeholder{
  color: var(--akzentfarbe);
}

input:focus, textarea:focus, button:focus{
  outline: none;
}

button{
  color: var(--akzentfarbe);
  background-color: white;
  border: 0;
  font-size: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 200px;
  padding: 10px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > button{
  width: 40%;
  margin-top: 10px;
  align-self: flex-end;
}

h1{
  margin: 10px;
}

h6{
  font-size: 8px;
}

p{
  margin: 10px 10px 25px 10px;
  color: var(--hintergrundfarbe);
}

